<%= render 'layouts/header' %>
<%= render 'shared/error_messages' %>

  <div class="jumbotron">
    <div class="text-center">
      Helping care for your loved one.
    </div>
    <div>
      <h1>Big Banner picture</h1>
    </div>
    <div>
      <%= link_to "Try It Now, It's Free!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div>
      Now I can finally track the time and money I spend caring for my mother so my sister and brother stay in the loop.
    </div>
  </div>

<%= render 'layouts/as_seen_on' %>
<%= render 'layouts/footer_unauthenticated' %>