<h1>5 Places to Make Your Own Power of Attorney</h1>

<p>
Creating a POA is relatively simple. In fact, the hardest part may be deciding who the agent should be and thinking about one’s end of life care. You do not need a lawyer to create a POA. However, you may want to consult a lawyer or your local area agency on aging for advice for your specific situation. Here are 5 places you can create your own POA:
</p>

<p>
1) Your state government website should have a form that you may download and fill out. If not online, they will certainly have one in the local government office.
</p>

<p>
Alternatively, there are many online services for creating POA’s:
</p>

<p>
2) <%= link_to "Rocketlawyer.com", "http://rocketlawyer.com" %> -- This service is free and you can download the forms by state.
</p>

<p>
3) <%= link_to "Legalzoom.com", "http://legalzoom.com" %> -- Legal Zoom will create a POA for you after you fill out a questionnaire about your preferences. Their service costs $35.
</p>

<p>
4) <%= link_to "Lawdepot.com", "http://lawdepot.com" %> -- Another free tool, Law Depot allows you to download a personalized POA by state. 
</p>

<p>
5) <%= link_to "Nolo.com", "http://nolo.com" %> --Nolo has a range of tools to create POAs, Wills, etc. They typically cost $40.
</p>

<p>
5.5) And of course, you can always hire a lawyer to create these documents.
</p>

<p>
<b>Pro Tip</b>: Have multiple original copies made. Most places (banks, hospitals, etc) will require an original copy so it is important that you have multiple to give out.
</p>

<h4>References</h4>
<%= link_to "http://www.nolo.com/legal-encyclopedia/how-write-living-will.html", "http://www.nolo.com/legal-encyclopedia/how-write-living-will.html" %>


