<p>
Caregiving can quickly become a complicated task when your responsibilities grow from daily care to taking on legal, financial, and healthcare issues. This guide will help you save time by giving you the most important legal information you need to know as a caregiver.
</p>

<h2 class="article-section-header <%= @category_slug %>">What you’ll find in this guide:</h2>
<ul>
<li>A chart to determine which legal documents you need</li>
<li>Definitions and clear explanations of the use for each legal document</li>
<li>How to go about obtaining or creating these documents</li>
<li>What to do with the documents once you have them</li>
<li>Tips from the experts (choosing an agent)</li>
<li>Next Steps</li>
</ul>

<h2 class="article-section-header <%= @category_slug %>">CHART:</h2>

<table>
  <tr>
    <th>IF YOU WANT TO...</th>
    <th>YOU NEED A...</th>
  </tr>
  <tr>
    <td>
      Write checks on behalf of your parents, pay their bills-online or by mail ( in other words, use any of their assets or income to pay any expenses)
    </td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Sell their property or buy property on their behalf</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Do their taxes</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Buy or sell insurance policies</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Collect income or benefits (SS, Medicare)</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Handle transactions with banks or accounts</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Invest</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Operate your parent’s business</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Hire someone to represent parents in court</td>
    <td>Durable Financial POA</td>
  </tr>
  <tr>
    <td>Hire or fire medical personnel</td>
    <td>Durable POA for Healthcare</td>
  </tr>
  <tr>
    <td>Make decisions about the best medical facility for your parent</td>
    <td>Durable POA for Healthcare</td>
  </tr>
  <tr>
    <td>Visit your parent in the hospital during hours when normal visiting is not allowed</td>
    <td>Durable POA for Healthcare</td>
  </tr>
  <tr>
    <td>Gain access to your parents personal information and medical records</td>
    <td>Durable POA for Healthcare</td>
  </tr>
  <tr>
    <td>Get court authorization to uphold your decision to obtain or withhold medical treatment, if the hospital does not honor your authority as a POA</td>
    <td>Durable POA for Healthcare</td>
  </tr>
</table>

<h2 class="article-section-header <%= @category_slug %>">Definitions:</h2>

<p>
A Power of Attorney(POA) is a legal document that authorizes a selected person (“agent”*) to act on the behalf another person(“ principal“).  The principal decides under what circumstances the POA will take effect and the specific areas which the agent has the authority to make a decision. Typically a POA will take effect once the principal is considered incapacitated (unable to make their own decisions). However, there are exceptions (usually concerning financial power of attorney) where a principal may grant the agent authority to act on their behalf simply when they aren’t present (ex: spouses often authorize each other to sign on their behalf).
</p>

<p>
*Sometimes an agent is also known as an “Attorney-in-Fact”.
</p>

<p>
There are some terms that you will often hear associated with Power of Attorney that can tell you more about how and when the legal document will take effect:
</p>

<p>
General vs. Limited  A general POA gives broad authorization to the agent when the principal becomes incapacitated whereas a limited POA only authorizes the agent to act in specified areas.
</p>

<p>
Durable vs. Traditional: Durable means that the document continues to operate when the person for whom it was written is mentally incapacitated(no longer able to make their own decisions). Traditional POAs are terminated when the principal becomes incompetent or dies.
</p>

<p>
Immediate vs. Springing: An immediate POA takes effect upon its creation. A springing POA will take effect when a specific event specified by the principal occurs (such as being determined incompetent by a medical professional). 
</p>

<p>
For caregivers, or adult children acting on their parent’s behalf, it is very important that you make sure your POA is Durable. In order to make more specific financial and healthcare decisions on your parent’s behalf, you will need more specific POA’s: one for health care and one for finance.
</p>


<p>
POA for Finance: Allows a family caregiver(agent) to manage their loved one’s finances. It may give the agent authority to do some of all of the following:
</p>
<ul>
<li>Use assets to pay expenses</li>
<li>Buy, sell, &amp; pay taxes on property</li>
<li>Invest in stocks, bonds, etc.</li>
<li>File and pay taxes</li>
<li>Buy/sell insurance policies</li>
<li>Manage retirement account</li>
<li>Collect income &amp; benefits--Social security, Medicare/aid, etc.</li>
</ul>

<p>
POA for Health Care: This is often called a Health Care Proxy in many states. Authorizes a family caregiver to make medical decisions on behalf of their loved one. This can include end of life decisions such as life support or terminating care.
</p>

<p>
In addition to the POA for Health Care (or the Health Care Proxy), there is another important legal document for health care. It is the living will (known as an advance directive in some states).
</p>

<p>
Living Will/ Advanced Directive: A living will is a written statement that details a person’s preferences for end of life medical care. It informs health professionals about choices regarding life prolonging treatments. It becomes effective when the principal becomes incapacitated and allows for an elected agent to make decisions according to the document.
</p>

<h2 class="article-section-header <%= @category_slug %>">What’s the difference between a POA for Health Care and a Living Will?</h2>

<p>
Living will is a set of directions written out by the principal about their end of life care preferences whereas with POA for Health Care, the principal appoints an agent to act on their behalf and make decisions in real time if the principal is incapacitated.
</p>

<p>
The primary benefit of using a POA for Health Care (a health care proxy) is that the agent/proxy can make real-time decisions in actual circumstances, as opposed to advance decisions framed in hypothetical situations, as recorded in a living will.
One potential risk with using a proxy, however, is the ability of the proxy to make the decision that would be preferred by the principal.
</p>

<h2 class="article-section-header <%= @category_slug %>">How do you get a POA/Living Will?</h2>

<p>
Creating a POA is relatively simple. In fact the hardest part may be deciding who the agent should be and thinking about one’s end of life care. You do not need a lawyer to create a POA. However, you may want to consult a lawyer or your local area agency on aging for advice for your specific situation. Here are 5 places you can find free legal forms:
</p>

<ul>
<li>local senior centers</li>
<li>local hospitals</li>
<li>your regular physician</li>
<li>your state’s medical association, and</li>
<li>The National Hospice and Palliative Care Organization</li>
<li><%= link_to "5 places to make a POA/Will Online", article_path(:category => "elder-law", :id => "5-places-to-make-poa") %></li>
</ul>

<p>
Tip: Have multiple original copies made. Most places (banks, hospitals, etc) will require an original copy so it is important that you have multiple to give out.
</p>

<h2 class="article-section-header <%= @category_slug %>">What do you do once you have a POA?</h2>

<p>
Once you have created a POA, make sure it keep it in a safe but easily accessible place. Tell your family where they can find it, or better yet, send them copies.
</p>

<p>
Next, you’ll need to put the POA on file at any financial or health care institution where you will be acting on your loved one’s behalf. This means that you will need to call up the bank, for instance, and ask about their POA policy. Some banks may have specific POA forms that they require you to fill out whereas others may simply allow you to use your own. Call each institution and ask to put your POA on file.
</p>

<p>
Recap-- Give your Documents to:
</p>
<ul>
<li>family members</li>
<li>your health care agent</li>
<li>your doctor(s), and</li>
<li>your hospital or care facility.</li>
<li>Bank or financial institutions you need to transact with</li>
</ul>


<p>
Tips from the experts: (Need to fill this section out more…..)
</p>
<ul>
<li>Have multiple original copies of the POAs made. Most places (banks, hospitals, etc) will require an original copy so it is important that you have multiple to give out.</li>
<li>(see article about tips for choosing an agent-http://www.nolo.com/legal-encyclopedia/choosing-health-care-agent-29939.html)</li>
</ul>

<p>
Next Steps:
</p>

<p>
The DPOA, Advanced Directive, and the Will are the most important documents to have on hand but here is a list of all the other documents that may prove useful throughout your time caregiving:
</p>

<ul>
<li>Homeowners policy</li>
<li>Car Insurance</li>
<li>Titles &amp; Deeds</li>
<li>Retirement Papers</li>
<li>Funeral Arrangements</li>
<li>Mortgage Notes</li>
<li>List of stored &amp; loaned items</li>
<li>Auto Ownership records</li>
<li>Birth certificates (death certificates)</li>
<li>Medical Bills/records</li>
<li>Divorce/separation records</li>
<li>Marriage Certificates</li>
<li>Safe box combo</li>
<li>any kind of documentation about military service so you can qualify for veterans benefits</li>
<li>paper stock certificates</li>
<li>(you will need to know their social security #s)</li>
</ul>

