<% content_for :micro_body do %>

<% provide(:title, @page_title) %>

<!-- downloaded confirmation -->

  <div id="content">
  </div>
  <div class="container">
    <div class="elder-law-background">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %> 
        </div>       
      </div>

      <div class="row">
        <!-- main title header -->
        <div class="col-xs-12">
          <div class="text-center">
            <h1 id="email-wall-logo" class="uppercase">Family Bridge</h1>
            <div id="email-wall-tagline">Caregiving made simple</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="app-choice-vertical-space-50">
          </div>
        </div>
      </div>

      <div class="row">
        <!-- subrow -->
        <div class="text-center">
        <h4><span class="free-guide-highlight">Free Guide</span> <span class="free-guide-title">Getting Started: Legal Basics for Caregivers</span></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="app-choice-vertical-space-10">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag "content/arrow_down.png" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="app-choice-vertical-space-30">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <p><%= link_to "Click to Download", guide_download_path({:access => @access}), class: "uppercase download-button-large", id: "guide-download-link" %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="learn-more-about">
            Learn more about
          </div>
          <%= link_to "Family Bridge", content_index_path, class: "uppercase fb-logo-small" %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="app-choice-vertical-space-50">
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= render "micro/footer" %>


  <% if @lead_user && (Rails.env.staging? || Rails.env.production?) %>
    <script type="text/javascript">
      $(function() {
        analytics.identify( <%= @lead_user.id %>, {
          email: '<%= @lead_user.email %>',
          firstName: '<%= @lead_user.first_name %>',
          lastName: '<%= @lead_user.last_name %>',
          zipcode: '<%= @lead_user.zipcode %>',
          created_at: $.now(),
          subscriptionPlan: 'Elder law guide',
          pageSlug: 'legal-guide-download'
        });

        $('#guide-download-link').click( function() {
          analytics.track('Download Legal Guide', {
            category: 'Email Wall',
            label: 'legal'
          });
        });
      });
    </script>
  <% end %>

<% end %>