<% provide(:title, @page_title) %>
<%= render "micro/header" %>

<% content_for :micro_body do %>
  <div class="social-background">

    <div class="micro-content">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %> 
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
            <div class="text-center">
              <h1><%= @page_title %></h1>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="text-center stay-tuned">
                Stay tuned, Family Bridge is launching soon.
              </div>
            </div>

            <%= form_tag do %>
              <%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
              <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
              <%= submit_tag("Notify me!", class: "btn btn-lg btn-primary") %>
            <% end %>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <div class="stay-tuned">
              <ul>
                <li><i class="fa fa-check"></i> Keep everyone connected.</li>
                <li><i class="fa fa-check"></i> Share what's going on with parents care.</li>
                <li><i class="fa fa-check"></i> Collaborate as a family on financial and caregiving issues.</li>
                <li><i class="fa fa-check"></i> Transparency: no more suspicion and family fights!</li>
              </ul>
            </div>
          </div>


        </div>
      </div>

    </div> <!-- .micro-content -->
  </div> <!-- .guidance-background -->

  <%= render "layouts/footer_unauthenticated" %>
<% end %>