<ol>
<li><h4>Jane Bryant Quinn</h4>
<%= link_to "https://twitter.com/JaneBryantQuinn", "https://twitter.com/JaneBryantQuinn" %>
Jane is a personal finance writer who frequently contributes to CBS Moneywatch and AARP. She’s an expert in more than just finance and you’ll often find her commenting on public policy ranging from healthcare to social security.</li>
<li><h4>Janet Bodnar</h4>
<%= link_to "https://twitter.com/JanetBodnar", "https://twitter.com/JanetBodnar" %>
Janet is editor of Kiplinger.com, an online personal finance magazine. She is also author of Money Smart Women and Raising Money Smart Kids. Great guidance on financial decisions and ways to save.</li>
<li><h4>Christine Benz</h4>
<%= link_to "https://twitter.com/christine_benz", "https://twitter.com/christine_benz" %>
 Christine is the direct of Personal Finance and a senior columnist at Morningstar.com, an investing focused website. She gives sage advice to investors of all types.</li>
<li><h4>Penelope Wang</h4>
<%= link_to "https://twitter.com/PennyWriter", "https://twitter.com/PennyWriter" %>
Penelope is a writer for CNN’s MoneyMag.  She manages to deliver sharp financial advice in 150 characters or less and hits upon the topics most important for you. As she says herself, she’s “tweeting about personal finance for the 99%”.</li>
<li><h4>Sandra Block</h4>
<%= link_to "https://twitter.com/sandyblock", "https://twitter.com/sandyblock" %>
Sandra is Senior Associate Editor at Kiplinger.com.  She has been writing on personal finance for 15 years and brings this experience to the table to talk about a range of finance topics useful to all generations.</li>

<%= render "content/footer" %>