<footer>
<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-category-header uppercase">
          <%= link_to "http://www.facebook.com/family.bridge1" do %>
            <%= image_tag "facebook_25.png", class: "social-media-footer" %>
          <% end %>
          &nbsp;
          <%= link_to "http://www.twitter.com/Family_Bridge" do %>
            <%= image_tag "twitter_25.png", class: "social-media-footer" %>
          <% end %>         
          &nbsp;
          <%= link_to "About Us", about_path %>
        </div>
      </div>       
    </div>
  </div>
</div>
</footer>
