<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2">
      <%= image_tag "content/sidebar/caregiving-101-icon.png" %>
    </div>
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase">Caregiving 101</div>
      <div class="sidebar-item-summary">Get the basics on developing your plan</div>
    </div>
  </div>
</div>
<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2">
    <%= image_tag "content/sidebar/resources-icon.png" %>
    </div>  
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase">Resources</div>
      <div class="sidebar-item-summary">Find local resources and benefits</div>
    </div>
  </div>
</div>
<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2">
    <%= image_tag "content/sidebar/insurance-icon.png" %>
    </div>  
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase">Insurance</div>
      <div class="sidebar-item-summary">Understand Medicare, Medicaid, and other options</div>
    </div>
  </div>
</div>
<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2">
    <%= image_tag "content/sidebar/care-icon.png" %>
    </div>   
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase">Care</div>
      <div class="sidebar-item-summary">Learn about your care options and choosing care</div>
    </div>
  </div>
</div>
<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2"> 
      <%= image_tag "content/sidebar/finance-icon.png" %>
    </div>    
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase">Finances</div>
      <div class="sidebar-item-summary">Get a grip of the financial picture</div>
    </div>
  </div>
</div>
<div class="sidebar-item">
  <div class="row">
    <div class="sidebar-item-image col-xs-2"> 
    <%= image_tag "content/sidebar/legal-icon.png" %>
    </div>       
    <div class="sidebar-item-text col-xs-10">
      <div class="sidebar-item-title uppercase"><%= link_to "Legal", tax_guide_landing_path %></div>
      <div class="sidebar-item-summary">Navigate estate planning and Power-of-Attorney</div>
    </div>
  </div>
</div>
