<%= content_for :custom_upper_margin do %>
  <div id="category-page-upper-margin">
  </div>
<% end %>

<% provide(:title, @page_title) %>
<%= render "content/header" %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <div class="category-header">
          <div class="header-<%= @category.slug %>">
            <%= @category.name %>
          </div>
        </div>
      </div>
    </div>
    <!-- main articles -->
    <% alen = @articles.size %>
    <% @articles.each_with_index do |a, aindex| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <!-- main article -->
            <div class="category-article-box">
              <div class="article-img-border-<%= a.main_category.slug %>">
                <%= link_to article_path(:id => a.slug, :category => a.main_category.slug) do %>
                  <%= image_tag "content/#{a.slug}-category-article.jpg" %>
                <% end %>
              </div>
              <div class="category-article-title">
                <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.main_category.slug) %></h1>
              </div>
              <div class="category-article-type-label">
                ARTICLE // by <%= a.author %> 
              </div> 
            </div>
          </div>
        <% if aindex == alen-1 %>
          </div> <!-- if last odd element end of row -->
        <% end %>
      <% else %>
          <div class="col-xs-12 col-sm-6">
            <!-- main article -->
            <div class="category-article-box">
              <div class="article-img-border-<%= a.main_category.slug %>">
                <%= link_to article_path(:id => a.slug, :category => a.main_category.slug) do %>
                  <%= image_tag "content/#{a.slug}-category-article.jpg" %>
                <% end %>
              </div>
              <div class="category-article-title">
                <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.main_category.slug) %></h1>
              </div>
              <div class="category-article-type-label">
                ARTICLE // by <%= a.author %>
              </div> 
            </div>
          </div>
        </div> <!-- row -->
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-12">
        <% if !@recent_articles.nil? %>
        <div class="sidebar">
          <!-- Recent articles -->
          <h3 class="uppercase">Get Started</h3>
          <hr class="sidebar-hr">
          <% @recent_articles.each_with_index do |r, index| %>
            <div class="article-link">
              <%= link_to r, "#" %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12">
        <div class="sidebar">
          <h3 class="uppercase">Stay Updated</h3>
          <hr class="sidebar-hr">

          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
            <% if @subscriber && !Rails.env.development? %>
              <script type="text/javascript">
                analytics.identify(<%= @subscriber.id %>, {
                  email: '<%= @subscriber.email %>',
                  firstName: '<%= @subscriber.first_name %>',
                  subscriptionPage: 'CategoryPage',
                  pageSlug: '<%= @category.slug %>',
                  created: '<%= @subscriber.created_at %>'
                });
              </script>
            <% end %>
          <% end %> 

          <%= form_tag({:action => "subscribe", :controller => "content"}, {:id => "email-submit-form"}) do %>
            <div class="form-group">
              <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
            </div>
            <%= submit_tag("SUBSCRIBE", class: "btn-fb-subscribe", id: "notify-me") %>
          <% end %>
        </div>
      </div>
    </div>   
  </div>
</div> <!-- row for first part of content includes two columns -->


<%= content_for :custom_footer do %>
  <%= render "content/footer" %>
<% end %>