<%= content_for :custom_upper_margin do %>
  <div id="content-upper-margin">
  </div>
<% end %>

<% provide(:title, @page_title) %>
<%= render "content/header" %>

<div class="fb-content-container">
  <div class="row">
    <div class="jumbotron">
      <div class="jumbotron-title">
        Three Ways a Geriatric Care Manager Can Help You Survive Long-Distance Caregiving"
      </div>
      <div class="article-type-label">
        ARTICLE // February 5, 2014
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main-articles-container">
      <div class="col-xs-12 col-md-8">
        <!-- main articles -->
        <% alen = @articles.size %>
        <% @articles.each_with_index do |a, aindex| %>
          <div class="row">
            <div class="col-xs-12">
              <!-- main article -->
              <div class="article-box">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="article-img-border-<%= a.categories[0].slug %>">
                      <a href="#" class="thumbnail">
                        <img data-src="holder.js/320x130" alt="...">
                      </a>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="article-title">
                      <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.categories[0].slug) %></h1>
                    </div>
                    <div class="article-category">
                      <% len = a.categories.size %>
                      <% a.categories.each_with_index do |c, index| %>
                        <div class="<%= c.slug %>">
                          <% if index == len-1 %>
                            <%= link_to c.name, "#{c.slug}" %>
                          <% else %>
                            <%= link_to c.name, "#{c.slug}" %>,
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="article-type-label">
                      ARTICLE // <%= l a.created_at, format: :long %>
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if aindex != alen-1 %>
          <hr class="sidebar-hr">
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="sidebar">
            <!-- Recent articles -->
            <h3 class="uppercase">Get Started</h3>
            <hr class="sidebar-hr">
            <% @recent_articles.each_with_index do |r, index| %>
              <div class="article-link">
                <%= link_to r.title, article_path(:id => r.slug, :category => r.categories[0].slug) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="sidebar">
            <h3 class="uppercase">Stay Updated</h3>
            <hr class="sidebar-hr">
            <%= form_tag do %>
              <div class="form-group">
                <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
              </div>
              <%= submit_tag("SUBSCRIBE", class: "btn-fb-subscribe", id: "notify-me") %>
            <% end %>
          </div>
        </div>
      </div>   
    </div>
  </div> <!-- row for first part of content includes two columns -->

  <div class="highlight-article-box">
    <hr class="sidebar-hr">
    <div class="row">
      <!-- Bottom article -->
      <div class="col-xs-12 col-md-4">
        <div class="article-img-border-<%= @highlight.categories[0].slug %>">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/320x130" alt="placeholder image">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="article-title">
          <h1><%= link_to @highlight.title, article_path(:id => @highlight.slug, :category => @highlight.categories[0].slug) %></h1>
        </div>
        <div class="article-category">
          <% len = @highlight.categories.size %>
          <% @highlight.categories.each_with_index do |c, index| %>
            <div class="<%= c.slug %>">
              <% if index == len-1 %>
                <%= link_to c.name, "#{c.slug}" %>
              <% else %>
                <%= link_to c.name, "#{c.slug}" %>,
              <% end %>
            </div>
          <% end %>
        </div>   
        <div class="article-type-label">
          ARTICLE // <%= l @highlight.created_at, format: :long %>
        </div>    
      </div>

    </div>
  </div>

</div>

<%= content_for :custom_footer do %>
  <%= render "content/footer" %>
<% end %>

