<%= content_for :custom_upper_margin do %>
  <div id="content-upper-margin">
  </div>
<% end %>

<% provide(:title, @page_title) %>
<%= render "content/header" %>

<div class="fb-content-container">
  <div class="row">
    <div class="banner-image">
      <%= image_tag "content/#{@headline.slug}-homepage-main.jpg" %>
      <div class="banner-text-container">
        <div class="category-header">
          <div class="header-<%= @headline.main_category.slug %> uppercase">
            <%= @headline.main_category.name %>
          </div>
        </div>
        <h2>
          <%= link_to @headline.title, article_path(:id => @headline.slug, :category => @headline.main_category.slug) %>
        </h2>
        <div class="article-type-label">
          ARTICLE // by <%= @headline.author %> 
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main-articles-container">
      <div class="col-xs-12 col-md-8">
        <!-- main articles -->
        <% alen = @articles.size %>
        <% @articles.each_with_index do |a, aindex| %>
          <div class="row">
            <div class="col-xs-12">
              <!-- main article -->
              <div class="article-box">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-8 col-lg-6">
                    <div class="article-img-border-<%= a.main_category.slug %>">
                      <%= link_to article_path(:id => a.slug, :category => a.main_category.slug) do %>
                        <%= image_tag "content/#{a.slug}-homepage-article.jpg" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-6">
                    <div class="article-title">
                      <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.main_category.slug) %></h1>
                    </div>
                    <div class="article-category">
                      <div class="<%= a.main_category.slug %>">
                        <%= link_to a.main_category.name, "#{a.main_category.slug}" %>
                      </div>
                    </div>
                    <div class="article-type-label">
                      ARTICLE // by <%= a.author %>
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if aindex != alen-1 %>
          <hr class="sidebar-hr">
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="sidebar">
            <!-- Recent articles -->
            <h3 class="uppercase">Get Started</h3>
            <hr class="sidebar-hr">
            <% @recent_articles.each_with_index do |r, index| %>
              <div class="article-link">
                <%= link_to r, "#" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="sidebar">
            <h3 class="uppercase">Stay Updated</h3>
            <hr class="sidebar-hr">

            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
              <% if @subscriber && !Rails.env.development? %>
                <script type="text/javascript">
                  analytics.identify(<%= @subscriber.id %>, {
                    email: '<%= @subscriber.email %>',
                    firstName: '<%= @subscriber.first_name %>',
                    subscriptionPage: 'ContentHome',
                    pageSlug: 'content-home'
                  });
                </script>
              <% end %>
            <% end %> 

            <%= form_tag({:action => "subscribe", :controller => "content"}, {:id => "email-submit-form"}) do %>
              <div class="form-group">
                <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
              </div>
              <%= submit_tag("SUBSCRIBE", class: "btn-fb-subscribe", id: "notify-me") %>
            <% end %>
          </div>
        </div>
      </div>   
    </div>
  </div> <!-- row for first part of content includes two columns -->

  <div class="bottom-article-box">
    <hr class="sidebar-hr">
    <div class="row">
      <!-- Bottom article -->
      <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
        <div class="article-img-border-<%= @bottom.main_category.slug %>">
          <%= link_to article_path(:id => @bottom.slug, :category => @bottom.main_category.slug) do %>
            <%= image_tag "content/#{@bottom.slug}-homepage-article.jpg" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-7 col-lg-8">
        <div class="article-title">
          <h1><%= link_to @bottom.title, article_path(:id => @bottom.slug, :category => @bottom.main_category.slug) %></h1>
        </div>
        <div class="article-category">
          <div class="<%= @bottom.main_category.slug %>">
            <%= link_to @bottom.main_category.name, "#{@bottom.main_category.slug}" %>
          </div>
        </div>   
        <div class="article-type-label">
          ARTICLE // by <%= @bottom.author %>
        </div>    
      </div>

    </div>
  </div>

</div>

<%= content_for :custom_footer do %>
  <%= render "content/footer" %>
<% end %>

