<% provide(:title, @page_title) %>
<%= render "content/header" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=147240776490";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-content-container">
  <div class="row">
    <div class="main-articles-container">
      <div class="col-xs-12 col-md-8">
        <!-- main articles -->
        <% @articles.each do |a| %>
          <div class="row">
            <div class="col-xs-12">
              <!-- main article -->
              <div class="article-box">
                <div class="article-category">
                  <% len = a.categories.size %>
                  <% a.categories.each_with_index do |c, index| %>
                    <% if index == len-1 %>
                      <%= link_to c.name, "#{c.slug}" %>
                    <% else %>
                      <%= link_to c.name, "#{c.slug}" %>,
                    <% end %>
                  <% end %>
                </div>
                <div class="article-title">
                  <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.categories[0].slug) %></h1>
                </div>
                <div class="article-summary">
                  <%= a.summary %> 
                </div>
                <div class="article-share">
                  <% tweet_url = "#{request.original_url}" + article_path(:id => a.slug, :category => a.categories[0].slug) %>
                  <% tweet_text = "#{a.title} @Family_Bridge" %>
                  <a href="https://twitter.com/share?url=<%=u tweet_url %>&text=<%= tweet_text %>" class="twitter-share-button" data-related="Family_Bridge:Get Updates on Family Bridge" data-lang="en" data-size="large" data-count="none"><%= image_tag "twitter_25.png" %></a> &nbsp;
                  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank">
                    <%= image_tag "facebook_25.png" %>
                  </a> 
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 side-bar">
      <div class="row">
        <div class="col-xs-12">
          <div class="recent-box">
            <!-- Recent articles -->
            <h3>RECENT ARTICLES</h3>
            <% len = @recent_articles.size %>
            <% @recent_articles.each_with_index do |r, index| %>
              <div class="article-link">
                <%= link_to r.title, article_path(:id => r.slug, :category => r.categories[0].slug) %>
              </div>
              <% if index != len-1 %>
                <hr class="sidebar-hr">
              <% end %>
            <% end %>
            <div class="article-more-link">
              <%= link_to "more articles", recent_content_index_path %>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div> <!-- row for first part of content includes two columns -->

  <div class="highlight-article-box">
    <div class="row">
      <!-- Bottom article -->
      <div class="col-xs-12 col-md-8">
        <div class="article-category">
          <% len = @highlight.categories.size %>
          <% @highlight.categories.each_with_index do |c, index| %>
            <% if index == len-1 %>
              <%= link_to c.name, "#{c.slug}" %>
            <% else %>
              <%= link_to c.name, "#{c.slug}" %>,
            <% end %>
          <% end %>
        </div>   
        <div class="article-title">
          <h1><%= link_to @highlight.title, article_path(:id => @highlight.slug, :category => @highlight.categories[0].slug) %></h1>
        </div>
        <div class="article-summary">
          <%= @highlight.summary %> 
        </div>
        <div class="article-share">
          <% tweet_url = "#{request.original_url}" + article_path(:id => @highlight.slug, :category => @highlight.categories[0].slug) %>
          <% tweet_body = truncate(@highlight.title, length:50) %>
          <% tweet_text = "#{tweet_body} @Family_Bridge" %>
          <a href="https://twitter.com/share?url=<%=u tweet_url %>&text=<%= tweet_text %>" class="twitter-share-button" data-related="Family_Bridge:Get Updates on Family Bridge" data-lang="en" data-size="large" data-count="none"><%= image_tag "twitter_25.png" %></a>
          &nbsp;
          <%= image_tag "facebook_25.png" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="article-pic thumbnail">
          <img data-src="holder.js/400x200" alt="placeholder image">
        </div>
      </div>
    </div>
  </div>

</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<%= render "content/footer" %>

