<% provide(:title, @page_title) %>
<%= render "content/header" %>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div class="row">
    <div class="main-articles-container">
      <div class="col-xs-12">
        <!-- main articles -->
        <% @articles.each do |a| %>
          <div class="row">
            <div class="col-xs-12">
              <!-- main article -->
              <div class="article-box">
                <div class="article-category">
                  <% len = a.categories.size %>
                  <% a.categories.each_with_index do |c, index| %>
                    <% if index == len-1 %>
                      <%= link_to c.name, "#{c.slug}" %>
                    <% else %>
                      <%= link_to c.name, "#{c.slug}" %>,
                    <% end %>
                  <% end %>
                </div>
                <div class="article-title">
                  <h1><%= link_to a.title, article_path(:id => a.slug, :category => a.categories[0].slug) %></h1>
                </div>
                <div class="article-summary">
                  <%= a.summary %> 
                </div>
                <div class="article-share">
                  <div class="share-button tweet-share-adjust">
                    <% tweet_url = article_path(:id => a.slug, :category => a.categories[0].slug) %>
                    <% tweet_text = "#{a.title} @Family_Bridge" %>
                    <a href="//twitter.com/share?url=<%=u tweet_url %>&text=<%= tweet_text %>" class="twitter-share-button" data-related="Family_Bridge:Get Updates on Family Bridge" data-lang="en" data-count="none">Tweet</a>
                  </div>
                  <div class="share-button">
                    <div class="fb-share-button" data-href="<%=u tweet_url %>" data-type="button_count"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


<%= render "content/footer" %>
