<% provide(:title, @page_title) %>
<%= render "content/header" %>

<div id="remote-article">
  <div id="remote-article-header">
    <!-- where header goes to move to different sections -->
    Family Bridge Header
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <iframe frameborder="0" height="960px" marginheight="0" marginwidth="0" src="<%= @article_url %>" width="100%"></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div id="remote-article-sidebar">
        <!-- collect email address -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center stay-tuned">
              Get more content like this. 
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= form_tag(lead_saved_path) do %>
              <div class="form-group">
                <%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
              </div>
              <div class="form-group">
                <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
              </div>
              <%= submit_tag("Notify me!", class: "btn btn-lg btn-primary", onClick: "_gaq.push(['_trackEvent', 'Micro Site One', 'Submit Email']);") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

