<% provide(:title, @article.title) %>
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="<%= @article.title %>" />
  <meta property="og:site_name" content="Family Bridge" />
  <meta property="og:url" content="<%= request.original_url %>" />

</head>
<body>

  <div id="fb-root"></div>

  <% if !Rails.env.development? %>
  <!-- twitter js -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <% end %>

  <!-- For content site -->
  <div id="article-page-upper-margin">
  </div>
  <div class="container">
    <%= render "content/header" %>
  
      <div class="row">
        <div id="article-content-box" class="col-xs-12 col-md-8">

          <div class="row">
            <div class="col-xs-12">
              <div class="article-page-header">
                <h1><%= @article.title %></h1>
                <div class="<%= @category_slug %> uppercase">
                  <%= @article.main_category.name %>
                </div>
                <div class="article-type-author">
                  ARTICLE // by <%= @article.author %>
                </div>
              </div>

              <div class="article-img-border-<%= @category_slug %>">
                <%= link_to article_path(:id => @article.slug, :category => @article.main_category.slug) do %>
                  <%= image_tag "content/#{@article.slug}-article-main.jpg" %>
                <% end %>
              </div>

              <div class="article-body">
                <%= yield %>
              </div>

              <div class="article-closing-phrase">
                Have your own advice? <a class="<%= @category_slug %>" href="mailto:">Email</a> the Family Bridge team or leave a coment below.
              </div>
              <div class="article-share">
                <div class="share-button tweet-share-adjust">
                  <a href="//twitter.com/share?text=<%= @article.title %> @Family_Bridge" class="twitter-share-button" data-related="Family_Bridge:Get Updates on Family Bridge" data-lang="en" data-count="none">Tweet</a>
                </div>
                <div class="share-button">
                  <div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button_count"></div>
                </div>
              </div>
            </div> <!-- col-xs-12 -->
          </div>

          <div class="row">
            <div class="col-xs-12">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="related-articles">
                <div class="heading uppercase">
                  Related Articles
                </div>
                <div class="row related-articles-container">
                  <% @related_articles.each do |recent| %>
                    <div class="related-article col-xs-4">
                      <%= link_to article_path(:id => recent.slug, :category => recent.main_category.slug) do %>
                        <div class="article-img-border-<%= recent.main_category.slug %>">
                          <%= image_tag "content/#{recent.slug}-related-article.jpg" %>
                        </div>
                        <div class="related-article-title">
                          <%= recent.title %> 
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div> <!-- col-xs-12 second row -->
          </div>

          <div class="row">
            <div class="col-xs-12 app-choice-vertical-space-10">
              <hr>
            </div>
          </div>

          <!-- Add disqus plugin -->
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'familybridge'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-12">
              <% if !@recent_articles.nil? %>
              <div class="sidebar">
                <!-- Recent articles -->
                <h3 class="uppercase">Get Started</h3>

                <%= render "content/sidebar" %>

              </div>
              <% end %>


              <div class="sidebar">
                <h3 class="uppercase">Stay Updated</h3>

                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>

                  <% if @subscriber && !Rails.env.development? %>
                    <script type="text/javascript">
                      analytics.identify(<%= @subscriber.id %>, {
                        email: '<%= @subscriber.email %>',
                        firstName: '<%= @subscriber.first_name %>',
                        subscriptionPage: 'ArticlePage',
                        pageSlug: '<%= @article.slug %>',
                        created: '<%= @subscriber.created_at %>'
                      });
                    </script>
                  <% end %>
                <% end %> 

                <%= form_tag({:action => "subscribe", :controller => "content"}, {:id => "article-email-submit-form"}) do %>
                  <div class="form-group">
                    <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
                  </div>
                  <%= submit_tag("SUBSCRIBE", class: "btn-fb-subscribe", id: "article-notify-me") %>
                <% end %>
              </div>
            </div>

          </div>   
        </div>
      </div> <!-- row for first part of content includes two columns -->

    <%= debug(params) if Rails.env.development? %>
  </div>

  <%= render "content/footer" %>
  <%= render "layouts/google_fonts_load" %>

</body>
</html>
