<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- For micro site -->
  <%= yield :micro_body %>

</body>
</html>