<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render :partial => 'layouts/google_analytics_production' if Rails.env.production? %>
  <%= render :partial => 'layouts/google_analytics_staging' if Rails.env.staging? %>
  <%= render :partial => 'layouts/segment_io_production' if Rails.env.production? %>
  <%= render :partial => 'layouts/segment_io_staging' if Rails.env.staging? %>
</head>
<body>
  <%= yield :micro_body %>

</body>
</html>