<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Facebook Conversion Code for Elder Law Conversion -->
  <script type="text/javascript">
  var fb_param = {};
  fb_param.pixel_id = '6013095746724';
  fb_param.value = '0.01';
  fb_param.currency = 'USD';
  (function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
  })();
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6013095746724&amp;value=0.01&amp;currency=USD" /></noscript>
</head>
<body>
  <%= render "layouts/google_fonts_load" %>
  <!-- For micro site -->
  <%= yield :micro_body %>


</body>
</html>